@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
*{box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;   
   /*  border: 3px solid red; */
}
.conteneur{
   /*  width:160vh; */
    height: 100vh;
 /*    border: 3px solid blue; */
    display: flex;
    flex-direction: row;
    background-color:#C0C0C0;
   
}
.left{
    /* width: 80%;
    height: 90%; */
    flex: 2;
  /*   border: 3px solid yellow; */
}
.right{
    /* width: 10%;
    height: 90%; */
    flex: 1;
 /*    border: 3px solid red; */

 display: flex;
 flex-direction: column-reverse;
}
.left1{
    width: auto;
    height: 15%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
   /*  border: 3px solid red; */
    background-color: white;
    margin: 80px;
    margin-left: 5%;

}
#btn1{
    width: 15%;
    height: 35%;
    border-radius: 10%;
    margin-right: 5px;
  /*   background-color: #2ecc71; */
    color: white;
    cursor: pointer;
}
#btn2{
    width: 15%;
    height: 35%;
    border-radius: 10%;
    margin-right: 5px;
   /*  background-color: red; */
    color: white;
    cursor: pointer;
}
#btn3{
    width: 15%;
    height: 35%;
    border-radius: 10%;
    margin-right: 5px;
   /*  background-color: #FFFF00; */
    color: white;
    cursor: pointer;
}
#btn4{
    width: 15%;
    height: 35%;
    border-radius: 10%;
    margin-right: 5px;
  /*   background-color: blue; */
    color: white;
    cursor: pointer;
}
.right p{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  /*   background-color: #2ecc71;  */
   /*  border: 1px solid black; */
}
/* .rec{
} */
.btn11{
    background-color: #2ecc71;

}
.btn22{
    background-color: red;
    
}
.btn33{
    background-color: #FFFF00;
    
}
.btn44{
    background-color: blue;
}
.btn44 p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 15rem;
  
}